:root {
    --main: #000;
    --textcol: #fff;
    --select: #07f;
    --buttonarea: #111;
    --taskbarpress: #333;

    --button: #111;
    --border: #333;

    --hover: #222;
    --borderhover: #444;

    --press: #333;
    --borderpress: #555;

    --head: #333;
    --headhover: #fff;
    --headpress: #aaa;

    --close: #333;
    --closehover: #f00;
    --closepress: #a00;
}